a {
    color: #000;
  }

.header {
    background-color: #fff;
    position: fixed;
    width: 100%;
    z-index: 3;
    min-width: 320px;
}
  
.header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #0000EC;
}
  
.header li a {
    display: block;
    padding: 20px 20px;
    text-decoration: none;
    color: white;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 16px;
}
  
.header li a:hover,
.header .menu-btn:hover {
    color: #00F3BB;
    text-decoration: line-through;
    transition: 0.3s;
}
  
.header .logo {
    display: block;
    float: left;
    font-size: 2em;
    padding: 10px 20px;
    text-decoration: none;
}

.header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
}
    
.header .menu-icon {
    cursor: pointer;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}
  
.header .menu-icon .nav-icon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
}
  
.header .menu-icon .nav-icon:before,
.header .menu-icon .nav-icon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  
.header .menu-icon .nav-icon:before {
    top: 5px;
  }
  
.header .menu-icon .nav-icon:after {
    top: -5px;
  }
    
.header .menu-btn {
    display: none;
  }
  
.header .menu-btn:checked ~ .menu {
    max-height: 240px;
}
  
.header .menu-btn:checked ~ .menu-icon .nav-icon {
    background: transparent;
}
  
.header .menu-btn:checked ~ .menu-icon .nav-icon:before {
    transform: rotate(-45deg);
    top:0;
}
  
.header .menu-btn:checked ~ .menu-icon .nav-icon:after {
    transform: rotate(45deg);
    top:0;
}
  
  
@media all and (min-width: 768px) {

    .header li {
        float: left;
    }

    .header li a {
        margin-right: 20px;
        padding: 20px 10px;
        color: #060A24;
        font-size: 16px;
    }

    .header .menu {
        background-color: white;
        clear: none;
        float: right;
        max-height: none;
    }

    .header .menu-icon {
        display: none;
    }

    .header .logo{
        width: 36px;
        height: 36px;
    }
}

